<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>ACC director</title>
    <meta name="description" content="ACC director">
    <link rel="stylesheet" type="text/css" href="/acc.css">
</head>

<body>

<form action="/index/connect" method="post">
    <input type="text" placeholder="acc-game-ip" name="ip" style="width: 300px" value="192.168.86.45">
    <button type="submit">Connect</button>
</form>
</body>
</html>
